.ICEauthority
.Xauthority
.adobe/*
.aptitude/*
.bash_history
.bash_logout
.bashrc
.bogofilter/*
.bzr.log
.cache/*
.cairo-clockrc
.centerim/*
.checkgmail/*
.compiz/*
.config/*
.customcss/*
.dbus/*
.dia/*
.dmrc
.eclim/*
.elinks/*
.esd_auth
.evolution/*
.face
.fontconfig/*
.fonts/*
.gconf/*
.gconfd/*
.gegl-0.0/*
.gimp-2.6/*
.gitconfig
.gksu.lock
.glipper/*
.gnome/*
.gnome2/*
.gnupg/*
.gstreamer-0.10/*
.gtk-bookmarks
.hplip/*
.htoprc
.icedteaplugin/*
.irssi/*
.kde/*
.lesshst
.links2/*
.local/*
.macromedia/*
.mission-control/*
.mozilla-thunderbird
.mozilla/*
.mysql_history
.nano_history
.netx/*
.newsbeuter/*
.openoffice.org/*
.pearrc
.php_history
.pki/*
.post-review-cookies.txt
.printer-groups.xml
.prism/*
.profile
.pulse-cookie
.pulse/*
.quicksynergy/*
.qwit2/*
.recently-used
.recently-used.xbel
.screenlets/*
.screenrc
.selected_editor
.shutter/*
.ssh/*
.subversion/*
.sudo_as_admin_successful
.synaptic/*
.thumbnails/*
.thunderbird-old/*
.thunderbird/*
.toprc
.update-manager-core/*
.vim/*
.viminfo
.vimrc.kennethlove
.webapps/*
.xine/*
.xscreensaver-getimage.cache
.xsession-errors
.xsession-errors.old
Desktop/*
Documents/*
ICD9BOB.csv
Programs/*
Ubuntu One/*
Windows
businessizer
debian-5.1.flag
fizzbuzz.rb
grammerizer
intermittentCare/*
patient_break_in_care.php
rdesktop_files/*
toesTranslator.rb
toes_translator

